# CAPSTONE PYTHON BEGINNER PROJECT

## LOAD IN THE PACKAGES

In [21]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import pyodbc
from sqlalchemy import create_engine

## LOAD IN THE DATA

In [2]:
yearbook = pd.read_csv('OilCropsAllTables.csv')

In [3]:
print(yearbook.head())

  Timeperiod_Desc Marketing_Year     MY_Definition Commodity_Group Commodity  \
0      December 1        1999/00  September-August        Oilseeds  Soybeans
1      December 1        1999/00  September-August        Oilseeds  Soybeans
2      December 1        1999/00  September-August        Oilseeds  Soybeans
3         March 1        1999/00  September-August        Oilseeds  Soybeans
4         March 1        1999/00  September-August        Oilseeds  Soybeans

  Commodity_Desc2    Attribute_Desc   Attribute_Desc2 Geography_Desc  \
0        Soybeans   On-farm storage   On-farm storage  United States
1        Soybeans  Off-farm storage  Off-farm storage  United States
2        Soybeans     Total storage     Total storage  United States
3        Soybeans   On-farm storage   On-farm storage  United States
4        Soybeans  Off-farm storage  Off-farm storage  United States

  Geography_Desc2     Amount         Unit_Desc  Table_number  \
0   United States  1150000.0  Thousand bushels             1
1   United States  1032666.0  Thousand bushels             1
2   United States  2182666.0  Thousand bushels             1
3   United States   730000.0  Thousand bushels             1
4   United States   665986.0  Thousand bushels             1

                                          Table_name
0  Table 1—Soybean stocks: U.S. onfarm, off-farm,...
1  Table 1—Soybean stocks: U.S. onfarm, off-farm,...
2  Table 1—Soybean stocks: U.S. onfarm, off-farm,...
3  Table 1—Soybean stocks: U.S. onfarm, off-farm,...
4  Table 1—Soybean stocks: U.S. onfarm, off-farm,...

#### sqlite that we learned in datacamp does not work for the mysql server that we have so you need pyodbc but to use pandas to create df this is the connection

In [144]:
engine = create_engine('mssql+pyodbc://aergcazu3dbprd1/NASSQUICKSTATS?driver=ODBC+Driver+17+for+SQL+Server')

In [145]:
df = pd.read_sql("SELECT * FROM QSData.NASS_QuickStats_Survey_Crops WHERE COMMODITY_DESC='SOYBEANS' and STATISTICCAT_DESC = 'STOCKS' and AGG_LEVEL_DESC='NATIONAL'", engine)

In [149]:
print(df.head())

  SOURCE_DESC SECTOR_DESC   GROUP_DESC COMMODITY_DESC   CLASS_DESC  \
0      SURVEY       CROPS  FIELD CROPS       SOYBEANS  ALL CLASSES
1      SURVEY       CROPS  FIELD CROPS       SOYBEANS  ALL CLASSES
2      SURVEY       CROPS  FIELD CROPS       SOYBEANS  ALL CLASSES
3      SURVEY       CROPS  FIELD CROPS       SOYBEANS  ALL CLASSES
4      SURVEY       CROPS  FIELD CROPS       SOYBEANS  ALL CLASSES

        PRODN_PRACTICE_DESC         UTIL_PRACTICE_DESC STATISTICCAT_DESC  \
0  ALL PRODUCTION PRACTICES                    ON FARM            STOCKS
1  ALL PRODUCTION PRACTICES                   OFF FARM            STOCKS
2  ALL PRODUCTION PRACTICES  ALL UTILIZATION PRACTICES            STOCKS
3  ALL PRODUCTION PRACTICES                    ON FARM            STOCKS
4  ALL PRODUCTION PRACTICES                   OFF FARM            STOCKS

  UNIT_DESC                                   SHORT_DESC  ...      FREQ_DESC  \
0        BU   SOYBEANS, ON FARM - STOCKS, MEASURED IN BU  ...  POINT IN TIME
1        BU  SOYBEANS, OFF FARM - STOCKS, MEASURED IN BU  ...  POINT IN TIME
2        BU            SOYBEANS - STOCKS, MEASURED IN BU  ...  POINT IN TIME
3        BU   SOYBEANS, ON FARM - STOCKS, MEASURED IN BU  ...  POINT IN TIME
4        BU  SOYBEANS, OFF FARM - STOCKS, MEASURED IN BU  ...  POINT IN TIME

  BEGIN_CODE END_CODE REFERENCE_PERIOD_DESC WEEK_ENDING            LOAD_TIME  \
0         12       12          FIRST OF DEC        None  2012-01-01 00:00:00
1         12       12          FIRST OF DEC        None  2012-01-01 00:00:00
2         06       06          FIRST OF JUN        None  2012-01-01 00:00:00
3         09       09          FIRST OF SEP        None  2012-01-01 00:00:00
4         09       09          FIRST OF SEP        None  2012-01-01 00:00:00

         VALUE CV_PCT Value_Numeric CVPCT_Numeric
0  104,546,000     \r   104546000.0          None
1  262,168,000     \r   262168000.0          None
2  790,624,000     \r   790624000.0          None
3  107,950,000     \r   107950000.0          None
4    6,018,000     \r     6018000.0          None

[5 rows x 41 columns]

### Graph stocks by quarter